/* override css */


body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif !important;
  font-weight: 500;
  max-width: 960px !important;
}

header > a{
  font-weight: bold;
}
